.option {
  margin: 4rem;

  width: 7.5rem;
  height: 7.5rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4rem 0 0.05rem hsl(var(--header-outline) / 0.2) inset;

  /* border: 1rem solid red; */
}

.option::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: red;
  box-shadow: 0 -0.4rem 0 0.05rem rebeccapurple inset;
}

.option.spock .option::before {
  background-color: var(--spock-light);
  box-shadow: 0 -0.4rem 0 0.05rem var(--spock-dark) inset;
}

.icon {
  padding: 2rem;
}

/* border goes here */
